.container-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 1.5rem 4rem 1.5rem;
    max-width: 147rem;
}

.container-footer-tail {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem 1rem 1.5rem;
    max-width: 147rem;
}

.footer-extra-small-screen {
    display: flex;
}

.footer-small-screen {
    display: none;
}

.footer-large-screen {
    display: none;
}

.footer-padding-x {
    padding-top: 10.5rem;
    padding-bottom: 11.5rem;
}

.panel ul li {
    font-size: 1.4rem;
}

.contact p {
    margin: 0;
}

.footer-extra-info,
.tool-tip-text {
    font-size: 1.4rem;
}

.tool-tip img {
    height: 3.2rem;
    width: 3.2rem;
}

.contact>div {
    margin: 0;
}

.tool-tip-text {
    visibility: hidden;
    width: 10rem;
    background-color: black;
    color: var(--bg);
    text-align: center;
    border-radius: 6px;
    padding: 1rem 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: -3.4rem;
    transition: all .5s ease;
    opacity: 0;
}

.tool-tip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}

.footer-head a {
    color: var(--bodyFashion);
    text-decoration: none;
}

.contact a:hover {
    cursor: pointer;
}

.footer-head .hot-categories a,
.customer-service a {
    transition: all .3s;
}

.footer-head .hot-categories a:hover,
.customer-service a:hover {
    color: var(--base-color);
    padding-left: 1.5rem;
}

.newsletter p {
    margin: 0;
    color: var(--bodyFashion);
}

.newsletter input {
    flex: 1;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    padding: 1rem 2rem;
}

.newsletter button {
    display: inline-block !important;
    color: var(--bg);
    background-color: var(--base-color);
    padding: 1.6rem 4rem;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
}

.col-xl-3 {
    flex: 0 0 auto;
    width: 35%;
}

.col-xl-4 {
    flex: 0 0 auto;
    width: 35%;
}

.footer-brand {
    width: 9.2rem !important;
    height: auto;
}

.media-contact {
    column-gap: 1rem;
}

.footer-menu-desktop {
    display: none;
}

.footer-menu-mobile>details:hover h5 {
    padding-left: 1rem;
    transition: all .4s ease;
}

.dropbtn-footer {
    background-color: var(--bg);
    color: var(--bodyFashion);
    border: none;
    cursor: pointer;
    position: relative;
    height: 2.5rem;
}

.dropbtn-footer>span {
    font-size: 1.4rem;
}

.dropdown-item-footer {
    visibility: hidden;
    opacity: 0;
    bottom: 5rem;
    position: absolute;
    background-color: var(--bg);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0 1rem 0;
    box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-item-footer {
    visibility: visible;
    opacity: 1;
    bottom: 2rem;
    transition: all 0.7s;
}

.dropdown-item-footer a {
    float: none;
    color: var(--bodyFashion);
    font-size: 1.4rem;
    padding: 0.5rem 0;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
}

.dropdown-item-footer a:hover span {
    padding-left: 1rem;
    transition: all 0.4s ease-in-out;
    color: var(--base-color);
}

.subcribe i {
    position: absolute;
    font-size: 2rem;
    top: 29%;
    transform: translateX(-23%);
    left: 42%;
    transform: translateY(-40%);
    transition: all .4s ease-in-out;
    transform: translateX(-500%);
    opacity: 0;
    visibility: hidden;
}

.subcribe span {
    font-size: 1.4rem;
    color: var(--bg);
    opacity: 1;
    visibility: visible;
    margin: auto;
    transition: all .4s ease-in-out;
}

.subcribe:hover i {
    transform: translateX(0);
    transition: all .5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.subcribe:hover span {
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width: 375px) {
    .btn {
        font-size: .8rem;
        padding: 1rem 1.5rem;
    }
}

@media only screen and (min-width: 576px) {

    .contact {
        row-gap: 1rem;
    }

    .hot-categories,
    .customer-service,
    .newsletter {
        row-gap: 0.5rem;
    }

}

@media only screen and (max-width: 768px) {
    .container-footer {
        padding-bottom: 12rem;
    }
}

@media only screen and (max-width: 769px) {

    details {
        padding: 0;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        max-height: 5rem;
        overflow: hidden;
    }

    details[open] {
        background-color: rgba(0, 0, 0, 0.05);
        max-height: 50rem;
        padding: 1rem;
    }

    .column {
        width: 100%;
        align-items: start;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .contact,
    .hot-categories,
    .customer-service,
    .newsletter {
        border-bottom: 1px solid #f6eaea;
        margin-bottom: 0.5rem;
    }

    .footer-head {
        width: 100%;
    }

    .footer-head {
        padding-bottom: 6rem;
    }

    .row-gap-6 {
        row-gap: 0.6rem;
    }

}

@media only screen and (min-width: 769px) {
    .footer-extra-small-screen {
        display: none;
    }

    .footer-small-screen {
        display: flex;
    }

    .footer-large-screen {
        display: none;
    }

    .col-xl-2,
    .col-xl-3 {
        width: 50%;
    }

    .footer-head>div {
        row-gap: 4rem;
    }

}

@media only screen and (min-width: 769px) {
    .footer-menu-desktop {
        display: flex;
    }

    .footer-menu-mobile {
        display: none;
    }

    .fa-plus {
        display: none;
    }
}

@media only screen and (min-width: 992px) {

    .footer-extra-small-screen {
        display: none;
    }

    .footer-small-screen {
        display: none;
    }

    .footer-large-screen {
        display: flex;
    }

    input::placeholder {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1200px) {

    .col-xl-3 {
        width: 33.3333333%;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.6666667%;
    }

    .container-footer {
        padding: 10rem 3rem 4rem 3rem;
    }

    .container-footer-tail {
        padding: 0 3rem 1rem 3rem;
    }

    input::placeholder {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1400px) {

    .corner-info {
        font-size: 1.3rem;
    }

    .footer-extra-info,
    .tool-tip-text,
    .panel ul li {
        font-size: 1.6rem;
    }

    .dropbtn-footer>span {
        font-size: 1.6rem;
    }

    .dropdown-item-footer a {
        font-size: 1.6rem;
    }
}