.container-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 3rem 4rem 3rem;
    max-width: 147rem;
}

.container-footer-tail {
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem 1rem 3rem;
    max-width: 147rem;
}

.footer-extra-small-screen {
    display: flex;
}

.footer-small-screen {
    display: none;
}

.footer-large-screen {
    display: none;
}

.footer-padding-x {
    padding-top: 10.5rem;
    padding-bottom: 11.5rem;
}

.contact p {
    margin: 0;
}

.contact>div {
    margin: 0;
}

.tool-tip-text {
    visibility: hidden;
    width: 10rem;
    background-color: black;
    color: var(--bg);
    text-align: center;
    border-radius: 6px;
    padding: 1rem 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: -3.2rem;
}

.tool-tip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
}

.footer-head a {
    color: var(--bodyFashion);
    text-decoration: none;
}

/* .footer-head>div {
    row-gap: 3rem;
} */

/* .contact,
.hot-categories,
.customer-service,
.newsletter {
    row-gap: 2rem;
} */

.contact a:hover {
    cursor: pointer;
}

.footer-head .hot-categories a,
.customer-service a {
    transition: all .3s;
}

.footer-head .hot-categories a:hover,
.customer-service a:hover {
    color: var(--base-color);
    padding-left: 1.5rem;
}

.newsletter p {
    margin: 0;
    color: var(--bodyFashion);
}

.newsletter input {
    flex: 1;
    border-radius: 30px;
    border-color: var(--bodyFashion);
    padding: 1rem 2rem;
}

.newsletter button {
    display: inline-block !important;
    color: var(--bg);
    background-color: var(--base-color);
    padding: 1.6rem 4rem;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
}

.col-xl-2 {
    flex: 0 0 auto;
    width: 10%;
}

.col-xl-3 {
    flex: 0 0 auto;
    width: 35%;
}

.col-xl-4 {
    flex: 0 0 auto;
    width: 35%;
}

.footer-brand {
    width: 9.2rem !important;
    height: auto;
}

@media only screen and (min-width: 350px) {
    .media-contact {
        column-gap: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    /* .accordion {
        background-color: transparent;
        color: var(--Whrite);
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 13px;
        transition: 0.4s;
        padding: 0.5rem 0 !important;
    }

    .accordion:hover {
        cursor: pointer;
    }

    .panel {
        padding: 10px 0 0 0;
        background-color: transparent;
        color: var(--text-footer);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    } */

    details {
        padding: 0;
        border-radius: 4px;
        /* margin-bottom: 1em; */
        transition: all 0.4s ease-in-out;
        max-height: 4rem;
        overflow: hidden;
    }

    details[open] {
        background-color: rgba(0, 0, 0, 0.05);
        max-height: 500px;
        padding: 1em;
    }

    .column {
        width: 100%;
        align-items: start;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .contact,
    .hot-categories,
    .customer-service,
    .newsletter {
        border-bottom: 1px solid #f6eaea;
    }

    .footer-head {
        width: 100%;
    }

    .footer-menu-desktop {
        display: none;
    }
}

@media only screen and (min-width: 450px) {

    .col-xl-2,
    .col-xl-3 {
        flex: 0 0 auto;
        width: 50%;
    }

    .footer-head>div {
        row-gap: 4rem;
    }

    .contact {
        row-gap: 1rem;
    }

    .hot-categories,
    .customer-service,
    .newsletter {
        row-gap: 0.5rem;
    }

    .fa-plus {
        display: none;
    }

    .footer-menu-mobile {
        display: none;
    }

    .footer-extra-small-screen {
        display: flex;
    }

    .footer-small-screen {
        display: none;
    }

    .footer-large-screen {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* .container-footer {
        margin-left: auto;
        margin-right: auto;
        padding: 6rem 3rem 4rem 3rem !important;
    } */

    /* .container-footer {
        margin-left: auto;
        margin-right: auto;
        padding: 6rem 10.2rem 4rem 10.2rem !important;
    } */

    .footer-head {
        padding-bottom: 6rem;
    }

    /* .footer-large-screen {
        display: none;
    }

    .footer-small-screen {
        display: flex;
    }

    .footer-extra-small-screen {
        display: none;
    } */

    .row-gap-6 {
        row-gap: 0.6rem;
    }

    /* .col-xl-2,
    .col-xl-3,
    .col-xl-4 {
        flex: 0 0 auto;
        width: 50% !important;
    } */

    .contact p,
    .newsletter p {
        font-size: 1.2rem;
    }

    .hot-categories a,
    .customer-service a {
        font-size: 1.2rem;
    }

    .tool-tip img {
        height: 2.8rem;
        width: 2.8rem;
    }
}

@media only screen and (min-width: 700px) {
    .footer-extra-small-screen {
        display: none;
    }

    .footer-small-screen {
        display: flex;
    }

    .footer-large-screen {
        display: none;
    }
}

@media only screen and (min-width: 769px) {



    .footer-extra-small-screen {
        display: none;
    }

    .footer-small-screen {
        display: none;
    }

    .footer-large-screen {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {

    /* .corner-info {
        font-size: 1.2rem;
    } */

    /* .container-main {
        margin-left: auto;
        margin-right: auto;
        padding: 0 3rem;
    } */


}

/* @media only screen and (max-width: 1440px) {

    .container-footer {
        margin-left: auto;
        margin-right: auto;
        padding: 10rem 3rem 4rem 3rem;
    }

} */

@media only screen and (min-width: 1200px) {
    /* .container-footer {
        margin-left: auto;
        margin-right: auto;
        padding: 10rem 10.2rem 4rem 10.2rem;
    } */

    .col-xl-3 {
        flex: 0 0 auto;
        width: 33.3333333%;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.6666667%;
    }
}

@media only screen and (min-width: 1225px) {}

@media only screen and (min-width: 1900px) {
    /* .container-main {
        margin-left: auto;
        margin-right: auto;
        padding: 0 25.5rem;
    } */

    /* .container-footer {
        margin-left: auto;
        margin-right: auto;
        padding: 10rem 25.5rem 4rem 25.5rem;
    } */

    .corner-info {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 2000px) {

    /* .container-header {
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 4rem;
    }

    .container-header-tail {
        margin-left: auto;
        margin-right: auto;
        padding: 2.5rem 4rem;
    }

    .container-main {
        margin-left: auto;
        margin-right: auto;
        padding: 0 34rem;
    }

    .container-footer {
        margin-left: auto;
        margin-right: auto;
        padding: 10rem 34rem 4rem 34rem;
    } */
}