.container-main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    max-width: 147rem;
}

.black-beanie {
    display: flex;
    width: 100%;
    height: 100%;
}

.top-trending {
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    text-align: start;
}

.main-head-mobile {
    padding: 0 1.5rem;
}

.col-head-2 {
    width: calc((100% - 10px)/2);
}

.main-head-screen,
.catalog-middle {
    gap: .5rem;
}

.catalog-left,
.catalog-right,
.catalog-middle {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
}

.catalog-left,
.catalog-right {
    border-radius: 1rem;
}

.catalog-middle-left,
.catalog-middle-right,
.middle {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    border-radius: 1rem;
}

.leanOver,
.sneaker,
.glasses,
.sandal,
.bag {
    width: 100%;
}

.top-trending-list,
.must-have-list {
    column-gap: 1.5rem;
    row-gap: 3rem;
}

.image-category {
    flex: 1 0 auto;
    width: calc((100% - 30px)/2);
}

.image-search {
    display: flex;
    flex: 1 0 auto;
    width: calc((100% - 30px)/2);
    padding: 0 1.5rem 3rem 1.5rem;
}

.trending-product-container {
    border-radius: 1rem;
}

.choose-color input[type="radio"]:checked+.radio-check {
    border-color: var(--base-color);
}

.radio-check {
    display: inline-block;
    vertical-align: middle;
    height: 23px;
    width: 23px;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #DDDDDD;
    border-radius: 100%;
}

.radio-check:hover {
    cursor: pointer;
}

.banner-item {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.banner-image {
    width: 100%;
    /* max-width: 100%; */
    border-radius: 1rem;
}

.banner-item span {
    display: inline-block;
    position: relative;
    width: fit-content;
}

.banner-item span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0.16);
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--base-color);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.banner-item:hover span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.banner-item a {
    color: var(--base-color);
    text-decoration: none;
}

.banner-discription {
    bottom: 0;
    left: 0;
    right: 0;
}

.tablet-banner {
    display: none;
}

.swipe-to-see-more {
    display: none;
}

.image-instagram {
    display: flex;
    flex: 1 0 auto;
    width: calc((100% - 3rem)/2);
    height: 100%;
    border-radius: 1rem;
}

.instagram-product-image {
    width: 100%;
    height: 100%;
}

.shop-by-gram {
    border-top: 1px solid #f6eaea;
    padding-top: 8rem;
}

.corner-info {
    font-size: 1rem;
    padding: 0.4rem 1rem;
    margin: 0;
    border: none;
    border-radius: 3rem;
    color: var(--bg);
    width: fit-content;
}

.corner-info-search {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    margin: 0;
    border: none;
    border-radius: 3rem;
    color: var(--bg);
    width: fit-content;
}

.extra-info {
    top: 3.3%;
    left: 5%;
}

.insta-cart {
    top: 4.3444444%;
    right: 4.3444444%;
}

.carousel-container {
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 9.1rem;
}

.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider {
    display: flex;
    height: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-img {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-prev,
.slider-next,
.slider-nav {
    display: none;
}

.slider-nav {
    column-gap: 1rem;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: black;
    opacity: 0.2;
    transition: ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider-nav a:focus {
    opacity: 1;
}

.slider-prev {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-next {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-prev a,
.slider-next a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    color: black;
    background-color: white;
    transition: all ease 250ms;
}

.to-left-slide,
.to-right-slide {
    top: calc(50% - 1rem);
}

.slider-prev a:hover .to-left-slide {
    color: white !important;
}

.slider-prev a:hover {
    background-color: black;
}

.slider-next a:hover .to-right-slide {
    color: white !important;
}

.slider-next a:hover {
    background-color: black;
}

.search-our-site {
    font-size: 3.2rem;
    font-weight: 500;
}

.search-bar span {
    font-size: 1.6rem;
}

.main-head-screen {
    display: none;
}

.main-head-mobile {
    display: flex;
}

.product-top-trending {
    margin-top: 8rem;
}

.main-tail>div {
    row-gap: 8rem;
}

.product-discription span {
    font-size: 1.2rem;
}

.top-trending>div {
    padding-bottom: 2.5rem;
    row-gap: 1.5rem;
}

.insta-tail {
    gap: 1.5rem;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

.instagram-product-image,
.trending-product-image,
.leanOver,
.glasses,
.bag,
.sandal,
.sneaker {
    transition: 0.5s all ease-in-out;
}

.instagram-product-image:hover,
.trending-product-image:hover,
.leanOver:hover,
.glasses:hover,
.bag:hover,
.sandal:hover,
.sneaker:hover {
    transform: scale(1.1);
}

.mobile-navbar>img {
    margin-left: 3rem;
}

.sign-in {
    display: none;
}

.banner-wrapper {
    display: none;
}

.screen-banner {
    display: flex;
}

:root {
    --base-font-size: 10px;
}

.slider-prev a,
.slider-next a {
    height: 4rem;
    width: 4rem;
}

.product-banner span {
    font-size: 1.6rem;
}

.to-left-slide,
.to-right-slide {
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 469px),
(min-width: 992px) {
    .banner-image:hover {
        transform: scale(1.1);
    }

    .banner-image {
        transition: 0.5s all ease-in-out;
    }

}

@media only screen and (min-width: 426px) {

    .product-discription span {
        font-size: 1.4rem;
    }

    .btn-second {
        padding: 1.2rem 3rem;
        font-size: 1.6rem;
    }

}

@media only screen and (max-width: 480px),
(min-width: 992px) and (max-width: 1400px) {

    .corner-info-search {
        font-size: 1rem;
        padding: 0.3rem 0.6rem;
        margin: 0;
        border: none;
        border-radius: 3rem;
        color: var(--bg);
        width: fit-content;
    }

}

@media only screen and (min-width: 576px) {
    .sign-in {
        display: flex;
    }

    .insta-tail {
        gap: 3rem;
    }

    .slider-prev {
        left: 3rem;
    }

    .slider-next {
        right: 3rem;
    }

    .top-trending {
        left: 18.38888888%;
    }

    .slider-prev,
    .slider-next {
        display: block;
    }

    .slider-nav {
        display: flex;
    }

    .corner-info {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    .product-discription span {
        font-size: 1.6rem;
    }

    .banner-item {
        width: calc((100% - 30px*2)/3);
        row-gap: 2rem;
    }

    .image-instagram {
        width: calc((100% - 30px*2)/3);
    }

    .top-trending-list,
    .must-have-list {
        column-gap: 3rem;
    }

    .btn-second {
        padding: 1.3rem 5rem;
    }
}

@media only screen and (min-width: 470px) and (max-width: 992px) {

    .screen-banner {
        display: none;
    }

    .banner-wrapper {
        display: flex;
    }

    .banner-wrapper .swipe-to-see-more {
        display: flex;
        font-size: 1.5rem;
        color: var(--bodyFashion);
    }

    .tablet-banner {
        display: flex;
    }

    .tablet-banner::-webkit-scrollbar {
        display: none;
    }

    .banner-item {
        width: 60%;
        aspect-ratio: 450/555;
        border-radius: 1rem;
    }

    .banner-discription a {
        color: var(--bg);
    }

    .banner-discription span::after {
        background-color: var(--bg);
    }

    .gradient {
        padding: 2rem 2rem 3rem 2rem;
        width: 100%;
        border-radius: 1rem;
        background: linear-gradient(0deg, var(--bodyFashion), rgba(255, 255, 255, 0));
    }
}

@media only screen and (min-width: 576px) {

    .product-you-must-have .swipe-to-see-more,
    .product-top-trending .swipe-to-see-more {
        display: flex;
        font-size: 1.5rem;
        color: var(--bodyFashion);
    }

    .carousel-container {
        margin-top: 9.9rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {

    .top-trending-list,
    .must-have-list {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
    }

    .top-trending-list::-webkit-scrollbar,
    .must-have-list::-webkit-scrollbar {
        display: none;
    }

    .image-category,
    .image-search {
        width: 30.1%;
    }
}

@media only screen and (min-width: 768px) {

    .explore-now {
        display: block;
        color: var(--base-color);
        border: 1px solid var(--base-color);
        position: relative;
        overflow: hidden;
        background: transparent;
        transition: all .35s;
    }

    .explore-now:before,
    .explore-now:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background: var(--base-color);
        z-index: -1;
        transition: all .35s;
    }

    .explore-now:before {
        opacity: .5;
    }

    .explore-now:after {
        transition-delay: .2s;
    }

    .explore-now:hover {
        color: var(--bg);
    }

    .explore-now:hover:before,
    .explore-now:hover:after {
        top: 0;
    }

    .top-trending {
        left: 13.38888888%;
    }

    .slider {
        aspect-ratio: auto 1920 / 850;
    }

    .top-trending {
        text-align: center;
    }

    .main-head-screen {
        display: flex;
    }

    .main-head-mobile {
        display: none;
    }

    .catalog-left,
    .catalog-right {
        width: calc((100% - 40.9% - 5px*2)/2);
    }

    .catalog-middle {
        width: 40.9%;
    }

    .catalog-middle-left,
    .catalog-middle-right {
        width: calc((100% - 5px)/2);
    }

    .banner-wrapper .swipe-to-see-more {
        font-size: 1.6rem;
    }

    .top-trending>div {
        padding-bottom: 3rem;
        row-gap: 2rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 1.5rem 4rem;
    }

    .carousel-container {
        margin-bottom: .5rem;
        margin-top: 10.2rem;
    }
}

@media only screen and (max-width: 1200px) {

    .absolute-side {
        bottom: 1rem;
    }

}

@media only screen and (max-width: 768px) {
    .slider {
        min-height: 55rem;
        max-width: 768px;
    }

    .carousel-img {
        max-height: 55rem;
        max-width: 768px;
    }

    .black-beanie {
        min-height: 55rem;
    }

    .black-beanie>img {
        width: 100%;
        object-fit: cover;
        object-position: 52% 0%;
    }
}

@media only screen and (min-width: 992px) {
    .image-instagram {
        width: calc((100% - .5rem*5)/6);
    }

    .insta-tail {
        gap: .5rem;
    }

    .image-category {
        width: calc((100% - 3rem*3)/4);
    }

    .image-search {
        width: calc((100% - 3rem*5)/6);
    }

    .product-you-must-have .swipe-to-see-more,
    .product-top-trending .swipe-to-see-more {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {

    .btn-second {
        padding: 1.8rem 7rem;
    }

    .container-main,
    .main-head-mobile {
        padding: 0 3rem;
    }

    .absolute-side {
        bottom: 2rem;
    }

    .top-trending>div {
        padding-bottom: 5rem;
    }

}

@media only screen and (min-width: 1201px) {
    .shop-by-gram {
        padding-top: 8rem;
    }
}

@media only screen and (min-width: 1400px) {

    .btn {
        font-size: 1.6rem;
        padding: 2rem 5.6rem;
    }

    .btn-second {
        font-size: 2rem;
        padding: 2rem 8rem;
    }

    .absolute-side {
        bottom: 3rem;
    }

    .slider-nav {
        bottom: 3rem;
    }

    .product-top-trending {
        margin-top: 10rem;
    }

    .main-tail>div {
        row-gap: 10rem;
    }

    .shop-by-gram {
        padding-top: 10rem;
    }
}